* text=auto eol=lf

*.md text diff=markdown
*.yml text
*.yaml text
*.ini text

*.ch text diff=zsh
*.zsh text diff=zsh
functions/* text diff=zsh

*.gif binary
*.png binary

.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.trunk/ export-ignore
.zunit.yml export-ignore
tests/ export-ignore
